*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
 background: linear-gradient(red,blue);
}
.h1{
  font-family: 'Josefin Sans', sans-serif;
  
  color: rgb(255, 255, 255);
  background: green;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  text-shadow: 0px 1px 3px red;
  color: rgb(7, 124, 226);
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(209, 204, 204, 0.801);
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}
.box h1{
  width: 80vw;
  text-align: center;
  background: rgba(21, 47, 21, 0.185);
  color: rgb(5, 5, 5);
  margin: 5px 0px;
}

/* .greeting component */

.span{
  color: red;
}
.greeting-box{
  min-height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://picsum.photos/1200/600);
  background-repeat: no-repeat;
  

}
.greeting-h1{
  text-align: center;
  background-color: rgba(172, 165, 156, 0.315);
  padding: 8px;

}